## Preprocessing

In [ ]:
#!pip install keras-tuner

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN'], inplace=True)

In [ ]:
name_count=application_df.NAME.value_counts()
name_count

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [ ]:
for name in name_count[name_count<100].index:
    application_df.NAME = application_df.NAME.replace(name,"Other")

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                        31
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=application_type_counts[application_type_counts < 500].index.tolist()  #index.tolist() converts the index to a list

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
Classification_counts=application_df['CLASSIFICATION'].value_counts()
Classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
Classification_counts[Classification_counts>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace=Classification_counts[Classification_counts < 1000].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [ ]:
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,Other,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,Other,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
print(application_df.columns)

Index(['NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [ ]:
# Split our preprocessed data into our features and target arrays
# Define the target column
target_column = 'IS_SUCCESSFUL'

# Separate the features (X) and target (y)
X = application_df.drop(columns=[target_column])
y = application_df[target_column]

# If needed, convert to numpy arrays
X = X.values
y = y.values

# Display the shapes of the features and target arrays
print("Features shape:", X.shape)
print("Target shape:", y.shape)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

Features shape: (34299, 74)
Target shape: (34299,)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2,activation="relu")
)
# Output layer
nn.add(
    tf.keras.layers.Dense(units=1,activation="sigmoid")
)

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                6000

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 8461 (33.05 KB)
Trainable params: 8461 (33.05 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 5s 4ms/step - loss: 0.5131 - accuracy: 0.7452
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4943 - accuracy: 0.7568
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4920 - accuracy: 0.7585
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4891 - accuracy: 0.7575
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4877 - accuracy: 0.7604
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4867 - accuracy: 0.7590
Epoch 7/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4860 - accuracy: 0.7607
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4847 - accuracy: 0.7619
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4841 - accuracy: 0.7614
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4836 - accuracy: 0.7614
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4833 - accuracy: 0.7618
Epoch 12/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4827 - accuracy: 0.7606
Epoch 13/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4822 - accuracy: 0.7628
Epoch 14/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4812 - accuracy: 0.7624
Epoch 15/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4802 - accuracy: 0.7621
Epoch 16/100
804/804 [==============================] - 5s 6ms/step - loss: 0.4812 - accuracy: 0.7631
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4803 - accuracy: 0.7642
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4801 - accuracy: 0.7635
Epoch 19/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4796 - accuracy: 0.7646
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4793 - accuracy: 0.7639
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4789 - accuracy: 0.7648
Epoch 22/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4790 - accuracy: 0.7633
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4790 - accuracy: 0.7643
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4784 - accuracy: 0.7644
Epoch 25/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4782 - accuracy: 0.7643
Epoch 26/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4780 - accuracy: 0.7636
Epoch 27/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4777 - accuracy: 0.7647
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4776 - accuracy: 0.7646
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4773 - accuracy: 0.7650
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4768 - accuracy: 0.7661
Epoch 31/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4768 - accuracy: 0.7660
Epoch 32/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4766 - accuracy: 0.7662
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4759 - accuracy: 0.7665
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4760 - accuracy: 0.7664
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4757 - accuracy: 0.7664
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4759 - accuracy: 0.7666
Epoch 37/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4754 - accuracy: 0.7669
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4753 - accuracy: 0.7659
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4752 - accuracy: 0.7664
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4750 - accuracy: 0.7663
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4753 - accuracy: 0.7660
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4748 - accuracy: 0.7671
Epoch 43/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4744 - accuracy: 0.7666
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4748 - accuracy: 0.7664
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4747 - accuracy: 0.7657
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4743 - accuracy: 0.7655
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4742 - accuracy: 0.7674
Epoch 48/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4741 - accuracy: 0.7655
Epoch 49/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4746 - accuracy: 0.7662
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4737 - accuracy: 0.7666
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4738 - accuracy: 0.7661
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4735 - accuracy: 0.7672
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4732 - accuracy: 0.7670
Epoch 54/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4730 - accuracy: 0.7674
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4736 - accuracy: 0.7668
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4731 - accuracy: 0.7680
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4730 - accuracy: 0.7672
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4732 - accuracy: 0.7679
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4730 - accuracy: 0.7678
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4730 - accuracy: 0.7679
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4730 - accuracy: 0.7675
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4727 - accuracy: 0.7675
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4723 - accuracy: 0.7678
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4723 - accuracy: 0.7681
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4724 - accuracy: 0.7679
Epoch 66/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4724 - accuracy: 0.7683
Epoch 67/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4721 - accuracy: 0.7687
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4723 - accuracy: 0.7676
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4723 - accuracy: 0.7682
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4721 - accuracy: 0.7668
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4716 - accuracy: 0.7677
Epoch 72/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4720 - accuracy: 0.7680
Epoch 73/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4717 - accuracy: 0.7680
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4717 - accuracy: 0.7681
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4718 - accuracy: 0.7685
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4715 - accuracy: 0.7686
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4714 - accuracy: 0.7682
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4714 - accuracy: 0.7680
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4711 - accuracy: 0.7683
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4715 - accuracy: 0.7683
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4715 - accuracy: 0.7678
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4712 - accuracy: 0.7687
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4709 - accuracy: 0.7694
Epoch 84/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4710 - accuracy: 0.7681
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4707 - accuracy: 0.7681
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4712 - accuracy: 0.7683
Epoch 87/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4705 - accuracy: 0.7684
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4705 - accuracy: 0.7687
Epoch 89/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4710 - accuracy: 0.7684
Epoch 90/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4704 - accuracy: 0.7686
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4707 - accuracy: 0.7682
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4701 - accuracy: 0.7688
Epoch 93/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4708 - accuracy: 0.7684
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4702 - accuracy: 0.7694
Epoch 95/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4699 - accuracy: 0.7687
Epoch 96/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4707 - accuracy: 0.7692
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4711 - accuracy: 0.7684
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4699 - accuracy: 0.7685
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4704 - accuracy: 0.7692
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4700 - accuracy: 0.7688

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5114 - accuracy: 0.7538 - 451ms/epoch - 2ms/step
Loss: 0.5113733410835266, Accuracy: 0.7538192272186279

In [ ]:
#####Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5114 - accuracy: 0.7538 - 410ms/epoch - 2ms/step
Loss: 0.5113733410835266, Accuracy: 0.7538192272186279

In [ ]:
# Export our model to HDF5 file

nn.save('AlphabetSoupCharity.h5')

from tensorflow.keras.models import load_model
# Load the model from the native Keras format
loaded_model = load_model('AlphabetSoupCharity.h5')

# Verify the model structure
loaded_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                6000

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 8461 (33.05 KB)
Trainable params: 8461 (33.05 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [ ]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])

    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('units',
        min_value=32,
        max_value=512,
        step=32), activation=activation, input_dim=number_input_features))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=2,
            max_value=10,
            step=2),
            activation=activation))

    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model

In [ ]:
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=50,
    hyperband_iterations=2)

ModuleNotFoundError: No module named 'keras_tuner'

In [ ]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=50,validation_data=(X_test_scaled,y_test))

In [ ]:
#2nd attempt

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = 25 #reducing features
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 40 #adding nodes

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2,activation="relu")
)
# Output layer
nn.add(
    tf.keras.layers.Dense(units=1,activation="sigmoid")
)

# Check the structure of the model
nn.summary()

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])