## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN'], inplace=True)

In [3]:
name_count=application_df.NAME.value_counts()
name_count

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [4]:
for name in name_count[name_count<100].index:
    application_df.NAME = application_df.NAME.replace(name,"Other")

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                        31
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace=application_type_counts[application_type_counts < 500].index.tolist()  #index.tolist() converts the index to a list

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
Classification_counts=application_df['CLASSIFICATION'].value_counts()
Classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
Classification_counts[Classification_counts>1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace=Classification_counts[Classification_counts < 1000].index.tolist()
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,Other,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,Other,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [12]:
print(application_df.columns)

Index(['NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [14]:
# Split our preprocessed data into our features and target arrays
# Define the target column
target_column = 'IS_SUCCESSFUL'

# Separate the features (X) and target (y)
X = application_df.drop(columns=[target_column])
y = application_df[target_column]

# If needed, convert to numpy arrays
X = X.values
y = y.values

# Display the shapes of the features and target arrays
print("Features shape:", X.shape)
print("Target shape:", y.shape)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

Features shape: (34299, 74)
Target shape: (34299,)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2,activation="relu")
)
# Output layer
nn.add(
    tf.keras.layers.Dense(units=1,activation="sigmoid")
)

# Check the structure of the model
nn.summary()

/Users/jinluwang/anaconda3/envs/mlenv/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 80)             │         6,000 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 8,461 (33.05 KB)

 Trainable params: 8,461 (33.05 KB)

 Non-trainable params: 0 (0.00 B)

In [21]:
number_input_features

74

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 357us/step - accuracy: 0.7250 - loss: 0.5378
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 370us/step - accuracy: 0.7508 - loss: 0.4981
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 369us/step - accuracy: 0.7560 - loss: 0.4929
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 367us/step - accuracy: 0.7569 - loss: 0.4875
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 364us/step - accuracy: 0.7633 - loss: 0.4834
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 356us/step - accuracy: 0.7613 - loss: 0.4849
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 375us/step - accuracy: 0.7605 - loss: 0.4868
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7603 - loss: 0.4830
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 377us/step - accuracy: 0.7565 - loss: 0.4875
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 387us/step - accuracy: 0.7610 - loss: 0.4849
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 352us/step - accuracy: 0.7617 - loss: 0.4846
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 349us/step - accuracy: 0.7665 - loss: 0.4771
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 378us/step - accuracy: 0.7585 - loss: 0.4872
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 369us/step - accuracy: 0.7651 - loss: 0.4798
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.7617 - loss: 0.4840
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 365us/step - accuracy: 0.7625 - loss: 0.4766
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 350us/step - accuracy: 0.7674 - loss: 0.4788
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 373us/step - accuracy: 0.7671 - loss: 0.4784
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - accuracy: 0.7645 - loss: 0.4789
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 424us/step - accuracy: 0.7656 - loss: 0.4776
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 380us/step - accuracy: 0.7623 - loss: 0.4776
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.7631 - loss: 0.4811
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - accuracy: 0.7636 - loss: 0.4814
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 360us/step - accuracy: 0.7662 - loss: 0.4738
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 367us/step - accuracy: 0.7671 - loss: 0.4766
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 366us/step - accuracy: 0.7662 - loss: 0.4765
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - accuracy: 0.7678 - loss: 0.4726
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - accuracy: 0.7672 - loss: 0.4749
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 366us/step - accuracy: 0.7634 - loss: 0.4821
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 355us/step - accuracy: 0.7655 - loss: 0.4730
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 367us/step - accuracy: 0.7692 - loss: 0.4730
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 365us/step - accuracy: 0.7680 - loss: 0.4759
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 369us/step - accuracy: 0.7675 - loss: 0.4761
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 373us/step - accuracy: 0.7641 - loss: 0.4807
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.7646 - loss: 0.4739
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.7631 - loss: 0.4780
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 362us/step - accuracy: 0.7632 - loss: 0.4776
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - accuracy: 0.7652 - loss: 0.4783
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - accuracy: 0.7679 - loss: 0.4748
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 366us/step - accuracy: 0.7691 - loss: 0.4716
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - accuracy: 0.7688 - loss: 0.4736
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - accuracy: 0.7630 - loss: 0.4786
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - accuracy: 0.7689 - loss: 0.4747
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 359us/step - accuracy: 0.7709 - loss: 0.4705
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 364us/step - accuracy: 0.7656 - loss: 0.4768
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.7703 - loss: 0.4738
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - accuracy: 0.7689 - loss: 0.4761
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - accuracy: 0.7705 - loss: 0.4715
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 371us/step - accuracy: 0.7676 - loss: 0.4745
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 377us/step - accuracy: 0.7702 - loss: 0.4719
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 430us/step - accuracy: 0.7688 - loss: 0.4732
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 412us/step - accuracy: 0.7715 - loss: 0.4724
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - accuracy: 0.7719 - loss: 0.4680
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 428us/step - accuracy: 0.7674 - loss: 0.4734
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 631us/step - accuracy: 0.7677 - loss: 0.4763
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 403us/step - accuracy: 0.7734 - loss: 0.4682
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 373us/step - accuracy: 0.7681 - loss: 0.4700
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 373us/step - accuracy: 0.7696 - loss: 0.4699
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 368us/step - accuracy: 0.7653 - loss: 0.4773
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - accuracy: 0.7681 - loss: 0.4690
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - accuracy: 0.7692 - loss: 0.4732
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 375us/step - accuracy: 0.7660 - loss: 0.4745
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 365us/step - accuracy: 0.7660 - loss: 0.4716
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 365us/step - accuracy: 0.7682 - loss: 0.4717
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.7723 - loss: 0.4689
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 366us/step - accuracy: 0.7735 - loss: 0.4659
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 369us/step - accuracy: 0.7660 - loss: 0.4730
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 367us/step - accuracy: 0.7760 - loss: 0.4625
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 369us/step - accuracy: 0.7677 - loss: 0.4750
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 367us/step - accuracy: 0.7687 - loss: 0.4707
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - accuracy: 0.7670 - loss: 0.4724
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 364us/step - accuracy: 0.7685 - loss: 0.4710
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 959us/step - accuracy: 0.7664 - loss: 0.4730
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 371us/step - accuracy: 0.7744 - loss: 0.4648
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 372us/step - accuracy: 0.7684 - loss: 0.4722
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 364us/step - accuracy: 0.7649 - loss: 0.4755
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 365us/step - accuracy: 0.7728 - loss: 0.4692
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - accuracy: 0.7736 - loss: 0.4651
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 368us/step - accuracy: 0.7682 - loss: 0.4692
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 365us/step - accuracy: 0.7678 - loss: 0.4693
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 374us/step - accuracy: 0.7735 - loss: 0.4648
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 369us/step - accuracy: 0.7753 - loss: 0.4663
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 378us/step - accuracy: 0.7740 - loss: 0.4664
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 366us/step - accuracy: 0.7673 - loss: 0.4717
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 369us/step - accuracy: 0.7677 - loss: 0.4725
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 370us/step - accuracy: 0.7726 - loss: 0.4685
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 366us/step - accuracy: 0.7710 - loss: 0.4686
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 369us/step - accuracy: 0.7667 - loss: 0.4705
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 366us/step - accuracy: 0.7683 - loss: 0.4710
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 367us/step - accuracy: 0.7683 - loss: 0.4721
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 367us/step - accuracy: 0.7674 - loss: 0.4700
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 678us/step - accuracy: 0.7663 - loss: 0.4728
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 397us/step - accuracy: 0.7712 - loss: 0.4661
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 396us/step - accuracy: 0.7730 - loss: 0.4675
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 607us/step - accuracy: 0.7661 - loss: 0.4729
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 379us/step - accuracy: 0.7721 - loss: 0.4696
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 378us/step - accuracy: 0.7733 - loss: 0.4630
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 505us/step - accuracy: 0.7657 - loss: 0.4731
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 365us/step - accuracy: 0.7668 - loss: 0.4671
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 352us/step - accuracy: 0.7718 - loss: 0.4654

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5114 - accuracy: 0.7538 - 451ms/epoch - 2ms/step
Loss: 0.5113733410835266, Accuracy: 0.7538192272186279

In [20]:
# Export our model to HDF5 file

nn.save('AlphabetSoupCharity_Optimization.h5')

from tensorflow.keras.models import load_model
# Load the model from the native Keras format
loaded_model = load_model('AlphabetSoupCharity_Optimization.h5')

# Verify the model structure
loaded_model.summary()

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.
WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 80)             │         6,000 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 8,463 (33.06 KB)

 Trainable params: 8,461 (33.05 KB)

 Non-trainable params: 0 (0.00 B)

 Optimizer params: 2 (12.00 B)